<!doctype html>
<html
  lang="sv"
  class="bg-base-300 transition-font-size"
  data-version="{{VERSION}}"
>
  <meta charset="utf8" />
  <title>Carer calendar</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="dist/index.css?v={{VERSION}}" rel="stylesheet" />
  <script defer type="module" src="dist/index.js?v={{VERSION}}"></script>
  <link href="favicon.png" rel="icon" />
  <link rel="manifest" href="manifest.json" />
</html>
